@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

@keyframes bounce-7 {
        0%   { transform: scale(1,1)      translateY(0); }
        10%  { transform: scale(1.1,.9)   translateY(0); }
        30%  { transform: scale(.9,1.1)   translateY(-100px); }
        50%  { transform: scale(1.05,.95) translateY(0); }
        57%  { transform: scale(1,1)      translateY(-7px); }
        64%  { transform: scale(1,1)      translateY(0); }
        100% { transform: scale(1,1)      translateY(0); }
    }


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Asap", sans-serif;
}

body {
  background: #000;
  font-family: "Asap", sans-serif;
  margin: auto;
}

#top {
  background-color: #111;

  text-align: center;
  height: 500px;
  width: 100vm;
  display: flex;
  justify-content: center;
  align-items:center ;
  flex-direction:column;
  margin: auto;
  font-size: 40px;
  color: white;
  border-radius: 10px;  
}

#bounce {
  animation-name: bounce-7;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

#norm {
  background-color: #222;
  width: 100vm;
  border-radius: 10px;
}

div {
  text-align: center;
  height: 500px;
  width: 100vm;
  display: flex;
  justify-content: center;
  align-items:center ;
  flex-direction:column;
  margin: auto;
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
	width: 100vm;
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
	width: 100vm;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

a {
  color: black;
}

a:hover {
  color: #111;
}

a:visited {
  color:#222;
}

img {
  filter: blur(4px);
  transition-duration: 0.3s;
}

img:hover {
  filter: blur(0px);
  transition-duration: 0.3s;
}